input{
	height: 0.8rem;
}
/*input {
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input::-moz-placeholder {
    color: #999;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}*/

.right_answer{
    border-color: #09BB07;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(9, 187, 7, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(9, 187, 7, .6);
}

.wrong_answer{
    border-color: #e64340;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 67, 64, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(230, 67, 64, .6);
}

p {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 0.75rem;
}

table td,
table th {
    padding: 0.25rem;
}

table,
table td,
table th {
    border-right: 1px solid #000;
    border-bottom: : 1px solid #000;
}

#knowledge-point-list {
    font-size: 0.75rem;
}

.knowledge_point {
    display: none;
}

.knowledge_point_content {
    display: none;
    bottom: 1.875rem;
    position: relative;
    line-height: 1.2rem;
}

.knowledge_point_question {
    display: none;
}

.next_content {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.875rem;
    line-height: 1.875rem;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #09BB07;
    font-size: 0.875rem;
}